.sidebar {
    position: fixed;
    z-index: 9;
    width: 0px;
    opacity: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: width .2s ease-in-out, padding .3s ease-in-out,opacity .3s;
  }
  .navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  .sidebar-open {
    width: 350px;
    padding: 48px 24px;
    opacity: 100;
  }
  .bg-dark-less{
    background-color: rgb(65, 70, 75);
    color: white;
  }
  .text-dark-light{
    color:rgb(204, 204, 204);
  }
  .btn-dark-less{
    background-color: rgb(65, 70, 75);
    color: white;
  }
  .btn-dark-less:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  .profile{
    width: 100%;
    height: 100%;
  }
  
  
  .name{
    background: linear-gradient(74deg,
    rgb(66,133,244),rgb(155,114,203),rgb(217,101,112));
    color: transparent;
    background-clip: text;  
  }
  .title{
    background: linear-gradient(74deg,
    rgb(66,133,244),rgb(155,114,203),rgb(217,101,112),rgb(217,101,112));
    color: transparent;
    font-size: 250%;
    background-clip: text;  
    font-family: Salsa;
  }
 .about{
    text-align: justify;
    max-width: 700px;
    font-size: large;
    color: rgb(162, 165, 168);
 }
 .info{
    max-width: 350px;
 }
.nav-elements:hover{
  color: white;
  background-color: rgb(58, 58, 58);
}
.nav-elements{
  color: rgb(143, 139, 139);
  transition: all .2s;
  cursor: pointer;
  
}
.nav-elements-active{
  color: transparent;
  background: linear-gradient(74deg,
  rgb(118, 39, 155),rgb(155,114,203),rgb(223, 80, 241),rgb(255, 0, 140));
  background-clip: text;
  cursor: pointer;
  
}
.moreInfo{
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}
.moreInfo-active{
  max-height: 1000px;
}
.moreinfoList:hover{
  font-size: large;
  font-weight: bolder;
}
.moreinfoList{
  text-decoration: none;
  font-size: medium;
  transition: all .2s ease-in-out;
}
.sidebar-elements{
  font-size: 20px;
}

.snow{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

