body{
  cursor: url("./Images/CustomCursor.svg"),auto;
}
i{
  cursor: url("./Images/CustomDiamond.png"),auto;
}
button{
  cursor: url("./Images/CustomDiamond.png"),auto !important;
}

.sidebar {
    position: fixed;
    z-index: 12;
    width: 0px;
    opacity: 0;
    top: 0;
    bottom: 0;
    overflow: hidden;
    transition: width .2s ease-in-out, padding .3s ease-in-out,opacity .3s;
  }
  .navigation{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    border: solid rgb(162, 165, 168,0.1);
  }
  .bio{
    text-align: justify;
  }
  .sidebar-open {
    width: 350px;
    padding: 48px 24px;
    opacity: 100;
  }
  .bg-dark-less{
    background-color: rgb(65, 70, 75);
    color: white;
  }
  .text-dark-light{
    color:rgb(204, 204, 204);
  }
  .btn-dark-less{
    background-color: rgb(65, 70, 75);
    color: white;
  }
  .btn-dark-less:hover{
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
  }
  
  
  
  .name{
    background: linear-gradient(74deg,
    rgb(66,133,244),rgb(155,114,203),rgb(217,101,112));
    color: transparent;
    background-clip: text;  
  }
  .title{
    /* background: linear-gradient(74deg,
    rgb(66,133,244),rgb(155,114,203),rgb(217,101,112),rgb(217,101,112)); */
    /* color: rgb(154, 102, 212); */
    font-size: 250%;
    /* background-clip: text;   */
    font-family: Salsa;
  }
  .text-lighter{
    color: rgb(211, 207, 207);
  }
  .bg-indigo{
    background-color: rgb(154, 102, 212);
  }
  .bg-indigo:hover{
    background-color: rgb(178, 144, 218);
    border: none;
  }
  .text-indigo{
    color: rgb(154, 102, 212);
  }
 .about{
    text-align: justify;
    max-width: 700px;
    font-size: large;
    color: rgb(189, 191, 194);
 }
 .info{
    max-width: 350px;
 }
.nav-elements:hover{
  color: white;
  background-color: rgb(58, 58, 58);
}
.nav-elements{
  color: rgb(185, 184, 184);
  font-size: large;
  font-weight: medium;
  transition: all .2s;
  cursor: pointer;
  
}
.nav-elements-active{
  color: transparent;
  background: linear-gradient(74deg,
  rgb(118, 39, 155),rgb(155,114,203),rgb(223, 80, 241),rgb(255, 0, 140));
  background-clip: text;
  font-size: large;
  font-weight: medium;
  cursor: pointer;
  
}
.moreInfo{
  max-height: 0;
  overflow: hidden;
  transition: all .4s ease-in-out;
}
.moreInfo-active{
  max-height: 1000px;
}
.moreinfoList:hover{
  font-size: large;
  font-weight: bolder;
}
.moreinfoList{
  text-decoration: none;
  font-size: medium;
  transition: all .2s ease-in-out;
}
.sidebar-elements{
  font-size: 20px;
}

.snow{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.bg-trans{
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(3px);
    border:solid rgb(162, 165, 168,0.1);
    box-shadow:0 0 20000px rgba(255, 255, 255, 0.1);
}
.profiler {
  max-width: 60vw;
  max-height: 70vh;
  overflow-x: hidden;
  object-fit: contain;
}

@media (max-width: 768px) {
  .profiler {
    max-height: 50vh;
  }
  .navigation{
    border: none;
  }
}

@media (max-width: 430px) {
  .profiler {
    max-height: 35vh;
    max-width: 50vw;
  }
  .title{
    font-size: 180%;
  }
}

@media (min-width: 769px) and (max-width: 1080px) {
  .profiler {
    max-height: 70vh;
    max-width: 40vw;
  }
  .title{
    font-size: 200%;
  }
}

